<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/babbage.css" />
    <title>Charles Babbage</title>
  </head>
  <body>
    <div class="contenedor">
      <header class="enlaces">
        <a href="http://localhost:3030/" class="link">Home</a>
        <a href="http://localhost:3030/babbage" class="link">Babbage</a>
        <a href="http://localhost:3030/berners-lee" class="link">Berners</a>
        <a href="http://localhost:3030/clarke" class="link">Clarke</a>
        <a href="http://localhost:3030/hamilton" class="link">Hamilton</a>
        <a href="http://localhost:3030/hopper" class="link">Hopper</a>
        <a href="http://localhost:3030/lovelace" class="link">Lovelace</a>
        <a href="http://localhost:3030/turing" class="link">Turing</a>
      </header>
      <div class="caja">
        <img
          class="img-heroe"
          src="../recursos/img/Charles-Babbage.jpg"
          alt=""
        />
        <h2 class="titulo">Charles Babbage</h2>
        <p class="parrafo">
          Charles Babbage fue un matemático y científico de la computación
          británico.​ Diseñó y desarrolló una calculadora mecánica capaz de
          calcular tablas de funciones numéricas por el método de diferencias.
        </p>
      </div>
    </div>
  </body>
</html>
