<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/babbage.css">
    <title>Charles Babbage</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/Charles-Babbage.jpg" alt="" />
        <h2 class="titulo">Charles Babbage</h2>
        <p class="parrafo">
          Charles Babbage fue un matemático y científico de la computación
          británico.​ Diseñó y desarrolló una calculadora mecánica capaz de
          calcular tablas de funciones numéricas por el método de diferencias.
        </p>
      </div>
    </div>
  </body>
</html>
