<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/berners-lee.css" />
    <title>Tim Berners-Lee</title>
  </head>
  <body>
    <div class="contenedor">
      <header class="enlaces">
        <a href="http://localhost:3030/" class="link">Home</a>
        <a href="http://localhost:3030/babbage" class="link">Babbage</a>
        <a href="http://localhost:3030/berners-lee" class="link">Berners</a>
        <a href="http://localhost:3030/clarke" class="link">Clarke</a>
        <a href="http://localhost:3030/hamilton" class="link">Hamilton</a>
        <a href="http://localhost:3030/hopper" class="link">Hopper</a>
        <a href="http://localhost:3030/lovelace" class="link">Lovelace</a>
        <a href="http://localhost:3030/turing" class="link">Turing</a>
      </header>
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/berners-lee.jpg" alt="" />
        <h2 class="titulo">Tim Berners-Lee</h2>
        <p class="parrafo">
          Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un
          científico de la computación británico, conocido por ser el padre de
          la World Wide Web. Estableció la primera comunicación entre un cliente
          y un servidor usando el protocolo HTTP en diciembre de 1990.
        </p>
      </div>
    </div>
  </body>
</html>
