<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/hamilton.css" />
    <title>Margaret Hamilton</title>
  </head>
  <body>
    <div class="contenedor">
      <header class="enlaces">
        <a href="http://localhost:3030/" class="link">Home</a>
        <a href="http://localhost:3030/babbage" class="link">Babbage</a>
        <a href="http://localhost:3030/berners-lee" class="link">Berners</a>
        <a href="http://localhost:3030/clarke" class="link">Clarke</a>
        <a href="http://localhost:3030/hamilton" class="link">Hamilton</a>
        <a href="http://localhost:3030/hopper" class="link">Hopper</a>
        <a href="http://localhost:3030/lovelace" class="link">Lovelace</a>
        <a href="http://localhost:3030/turing" class="link">Turing</a>
      </header>
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/margaret.jpg" alt="" />
        <h2 class="titulo">Margaret Hamilton</h2>
        <p class="parrafo">
          Cuando el Apolo 11 tocó por primera vez la Luna hace cinco décadas
          tres nombres acapararon todo el protagonismo: Neil Armstrong, Michael
          Collins y Buzz Aldrin. Poco resonó entonces el de Margaret Hamilton,
          la científica computacional, matemática e ingeniera estadounidense que
          hizo posible el alunizaje en 1969 por haber diseñado el programa
          informático que controló el funcionamiento de todos los sistemas
          durante la misión espacial.
        </p>
      </div>
    </div>
  </body>
</html>
