<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/hopper.css" />
    <title>Grace Hopper</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/hopper.jpg" alt="" />
        <h2 class="titulo">Grace Hopper</h2>
        <p class="parrafo">
          Grace Hopper fue integrante de la Armada de Estados Unidos y una
          reconocida matemática especialista en informática. Fue la precursora
          del lenguaje COBOL, un compilador que fue clave en el desarrollo de la
          computación moderna.
        </p>
      </div>
    </div>
  </body>
</html>
