<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="recursos/css/index.css" />
    <title>Heroe</title>
  </head>
  <body>
    <div class="contenedor-principal">
      <div class="caja">
        <img
          class="img-heroe"
          src="../recursos/img/rocky-balboa.jpg"
          alt="Rocky Balboa"
        />
        <h2 class="titulo">Rocky Balboa</h2>
        <p class="parrafo">
          Te dire algo que ya sabes, el mundo no es un arco iris y nubes rosas.
          Es un mundo malo y salvaje, y no importa que tan rudo seas, te pondra
          de rodillas y te dejara asi pemanentemente si lo dejas. ni tu, ni yo,
          ni nadie golpeara tan duro como la vida, pero no importa que tan duro
          lo haga, importa lo duro que resistas y sigas avanzando. Cuanto
          resistiras y seguiras avanzando, asi es como se gana. Y si sabes
          cuanto vales ve a buscar lo que mereces, pero bebes ir dispuesto a que
          te den golpes. Y no a culpar a otros y decir no soy lo que quiero ser
          por el, por ella o por nadie. Los cobardes lo hacen!, Y tu no lo
          eres!, Tu eres mejor!
        </p>
      </div>
    </div>
  </body>
</html>
