<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/lovelace.css" />
    <title>Ada Lovelace</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/ada-lovelace.jpg" alt="" />
        <h2 class="titulo">Ada Lovelace</h2>
        <p class="parrafo">
          En el siglo XIX, una mujer, Ada Lovelace desarrolló el primer
          algoritmo, lo que marcó el camino de la programación. Ada revolucionó
          completamente la informática en unos momentos en qué era poco
          convencional que las mujeres se dedicasen a la ciencia o a la
          tecnología.
        </p>
      </div>
    </div>
  </body>
</html>
