<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../recursos/css/turing.css" />
    <title>Alan Turing</title>
  </head>
  <body>
    <div class="contenedor">
      <header class="enlaces">
        <a href="http://localhost:3030/" class="link">Home</a>
        <a href="http://localhost:3030/babbage" class="link">Babbage</a>
        <a href="http://localhost:3030/berners-lee" class="link">Berners</a>
        <a href="http://localhost:3030/clarke" class="link">Clarke</a>
        <a href="http://localhost:3030/hamilton" class="link">Hamilton</a>
        <a href="http://localhost:3030/hopper" class="link">Hopper</a>
        <a href="http://localhost:3030/lovelace" class="link">Lovelace</a>
        <a href="http://localhost:3030/turing" class="link">Turing</a>
      </header>
      <div class="caja">
        <img class="img-heroe" src="../recursos/img/alan-turing.jpg" alt="" />
        <h2 class="titulo">Alan Turing</h2>
        <p class="parrafo">
          Alan Mathison Turing, fue un matemático, lógico, informático teórico,
          criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de
          ultradistancia británico.​​​​​Es considerado uno de los padres de la
          ciencia de la computación y precursor de la informática moderna.
        </p>
      </div>
    </div>
  </body>
</html>
